h1 {color:rgb(79, 35, 199);}
h2 {color:blueviolet (79, 35, 199);}
#ima1 {width: 20%;}
body {background-color:aliceblue;}
h1{text:center;}
h1{width: 30%;}
#ima2 {width: 20%;}
#ima2 {align-self: ;}
sourcer<"horse.ogg>{align;center}
<p><b>{text::first-line}